body{
	margin:0;
	color:#6a6f8c;
	background: #c8c8c8;
	font:600 16px 'Oswald', sans-serif;
	text-align: center;
}

*,:after,:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------ Card Style ------- */

.dialog-box-wrap{
	background: url(/images/bg.jpg);
	width:500px;
	overflow:hidden;
	margin:5% auto 0;
	min-height:560px;
	border-radius:8px;
	position:relative;
	box-shadow:0 25px 55px 0 rgba(0,0,0,.21),0 16px 28px 0 rgba(0,0,0,.22);
}

/* ------ Forms Styles ------- */

.header{
	width:100%;
	height:100%;
	padding: 1rem;
	position: absolute;
	background:rgba(40,57,101,.9);
}

/* ------ Logo Style ------- */

.header .img{
	display: block;
	padding: 1rem;
	width: 100%;
	align-items: center;
}

/* ------ Output Style ------- */

.output-wrap {
	padding: 5rem;
}

.tab {
	color: #a1a1a1;
	font-size: 24px;
	padding: 50px;
}

.input{
	border: none;
	/* margin: 3rem; */
	padding: 3px 0px;
	border-radius: 25px;
	background: rgba(255,255,255,.1);
	text-align: center;
	font: 600 25px 'Oswald', sans-serif ;
}

/* ------ Button Style ------- */

.button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	margin: 1rem auto;
	font:600 25px 'Oswald' , sans-serif;
	color:#fff;
	display:block;
	background:#1161ee;
	cursor: pointer;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
  
.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
  
.button:hover span {
	padding-right: 25px;
}
  
.button:hover span:after {
	opacity: 1;
	right: 0;
}